@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

body {
    margin-top: 0;
    /* margin-bottom: 5vh; */
    padding: 0;
    background-color: #93DFE6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    margin-bottom: 5vh;
}

#nav_bar {
    position: fixed;
    overflow: hidden;

    display: flex;
    flex-wrap: nowrap;

    background-color: #04828E;
    width: 100vw;
    height: 5vh;

    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav_bar_name {
    display: flex;
    justify-content: center;
    width: 10vw;

    margin-right: 10vh;
    margin-top: 0;
    padding: 0px;
    color: white;

    font-family: "Babylonica", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

#nav_bar_right {
    width: 20vw;
    display: flex;
    justify-content: space-between;
    color: #61C7D1;
}

.nav_bar_button {
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
}

img.resize {
    width:540px; /* you can use % */
    height: auto;
}

.start_page {
    width: 100vw;
    height: auto;
    margin-bottom: 5vh;
    padding: 0px;
    background-color: #04828E;
}

.start_page_image {
    width: 100vw;
    height: auto;
    padding: 0px;
}

a:link {
    text-decoration: none;
}

.menu:hover {
    background-color: #93DFE6;
}

.logo {
    width: 5vw;
    height: auto;
    border: 0.2vw solid black;
}

.logo:hover {
    opacity: 10%;
    /* background-color: red; */
}

.date {
    color: black;
    border-top: 0.2vw solid black;
    margin-bottom: 0px;
}

.tekst_div {
    width: 90vw;
    height: auto;
    border-color: 0.1vw solid lightslategrey;
    background-color: white;
    text-align: center;

    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.project_cubes {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    /* dynamic magin in all directions */
    
}

.project_cube {
    min-width: 700/5px;
    width: 30vw;
    border: 0.2vw solid black;
    background-color: #61C7D1;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin-bottom: 5vh;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.project_image {
    width: 30vw;
    height: auto;
}

.project_text {
    font-size-adjust: inherit;
    font-size: medium;
    /* font-size: 1vw; */
}

div.footer {
    width: 100vw;
    height: 10vh;
    background-color: white;
    margin: 0px;
}

img.footer {
    width: 5vw;
    height: auto;
}

p.footer {
    color: black;
    display: flex;
    justify-content: flex-end;
}

.footer_item {
    border: 1vw solid black;
}

/* .github {
    width: 5vw;
    height: auto;
    background-color: red;
} */